Repository AY2223S2-CS2103T-W14-1/tp, pull requests merged in 2023-04, with the labels that each got.

#252 Fix mushroom, modified info box of create client
  docs/UserGuide.md
Labels: type.docs

#253 Update UserGuide.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/rubynguyen07.md
Labels: type.docs, priority.high

#262 Update UG and DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/ui/UiClassDiagram.drawio
  docs/images/UiClassDiagram.png
  docs/team/rubynguyen07.md
  docs/team/stanleyneoh.md
Labels: type.docs, priority.high

#263 Refactor null and validity check and added note regarding data tampering in DG
  docs/DeveloperGuide.md
  src/main/java/mycelium/mycelium/storage/JsonAdaptedClient.java
  src/main/java/mycelium/mycelium/storage/JsonAdaptedEntity.java
  src/main/java/mycelium/mycelium/storage/JsonAdaptedProject.java
  src/test/java/mycelium/mycelium/storage/JsonAdaptedClientTest.java
  src/test/java/mycelium/mycelium/storage/JsonAdaptedProjectTest.java
Labels: type.docs, priority.high, type.refactor

#269 Fix entity selection with mouse
  docs/UserGuide.md
  src/main/java/mycelium/mycelium/logic/uievent/UiEventManager.java
  src/main/java/mycelium/mycelium/logic/uievent/key/EnterKey.java
  src/main/java/mycelium/mycelium/ui/MainWindow.java
  src/main/java/mycelium/mycelium/ui/commandbox/CommandBox.java
  src/main/resources/view/CommandBox.fxml
Labels: priority.high, type.Bug

#270 Add note in UG and DG about data corruption
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.docs, priority.high

#271 Update appendix
  docs/DeveloperGuide.md
Labels: type.docs, priority.high

#280 Remove Parser section.
  docs/DeveloperGuide.md
  docs/diagrams/logic/LogicClassDiagram.puml
  docs/images/logic/LogicClassDiagram.png
Labels: type.docs, priority.high

#278 Add Appendix effort
  docs/DeveloperGuide.md
Labels: type.docs, priority.high

#281 Update aboutus.md
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/_sass/minima/_base.scss
  docs/team/stanleyneoh.md
Labels: type.docs, priority.low, severity.Low

#307 Fix diagram
  docs/images/archi/ArchitectureClassDiagram.png
Labels: priority.high

#313 Fix minor grammar and hypen in DG UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.high
