Repository AY2223S2-CS2103T-W14-1/tp, pull requests merged in 2023-03, with the labels that each got.

#34 Update Jekyll files
  docs/_config.yml
  docs/index.md
Labels: type.docs, priority.high

#31 Add non-functional requirements
  .gitignore
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.docs, priority.high

#38 Reduce photo resolution
  docs/images/immanuelhume.png
Labels: priority.high

#35 Fix missing whitespace
  docs/UserGuide.md
Labels: type.docs, priority.low

#29 Update AboutUs and add skeletal PPP
  docs/AboutUs.md
  docs/images/rubynguyen07.png
  docs/team/rubynguyen07.md
Labels: type.docs, priority.high

#65 Add title next to each tag value
  src/main/resources/view/ProjectListCard.fxml
Labels: type.ui

#69 Make title and text values uniform
  src/main/resources/view/ProjectListCard.fxml
Labels: type.ui

#82 Add tests for GUI
  build.gradle
  src/main/java/mycelium/mycelium/ui/UiManager.java
  src/test/java/guitests/GuiRobot.java
  src/test/java/guitests/guihandles/NodeHandle.java
  src/test/java/guitests/guihandles/ProjectListCardHandle.java
  src/test/java/guitests/guihandles/guiexceptions/NodeNotFoundException.java
  src/test/java/guitests/guihandles/guiexceptions/StageNotFoundException.java
  src/test/java/mycelium/mycelium/ui/GuiUnitTest.java
  src/test/java/mycelium/mycelium/ui/UiPartTest.java
  src/test/java/mycelium/mycelium/ui/project/ProjectListCardTest.java
  src/test/java/mycelium/mycelium/ui/testutil/GuiTestAssert.java
  src/test/java/mycelium/mycelium/ui/testutil/StageExtension.java
  src/test/java/mycelium/mycelium/ui/testutil/UiPartExtension.java
Labels: type.ui, priority.high

#140 Update DG with diagrams and description for client and project
  docs/DeveloperGuide.md
  docs/images/ClientAndProjectClassModel.png
Labels: type.docs

#144 Add Statistics Dashboard details into DG
  docs/DeveloperGuide.md
  docs/images/StatisticsBoxActivityDiagram.png
Labels: type.docs, priority.high

#141 Add statistics feature
  src/main/java/mycelium/mycelium/commons/util/DateUtil.java
  src/main/java/mycelium/mycelium/logic/Logic.java
  src/main/java/mycelium/mycelium/logic/LogicManager.java
  src/main/java/mycelium/mycelium/model/ModelManager.java
  src/main/java/mycelium/mycelium/model/ProjectModel.java
  src/main/java/mycelium/mycelium/model/project/Project.java
  src/main/java/mycelium/mycelium/ui/MainWindow.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/SpecialProjectEntity.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsBox.java
  src/main/resources/view/DueProjectEntity.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/StatisticsBox.css
  src/main/resources/view/StatisticsBox.fxml
  src/test/java/mycelium/mycelium/logic/commands/AddCommandTest.java
Labels: type.ui, priority.high

#163 Add QuitKey HotKey
  src/main/java/mycelium/mycelium/logic/uievent/UiEventManager.java
  src/main/java/mycelium/mycelium/logic/uievent/key/QuitKey.java
Labels: priority.med, type.task

#170 Update UG section on managing projects
  docs/UserGuide.md
Labels: type.docs

#167 Add frontmatter for UG
  docs/UserGuide.md
Labels: type.docs

#165 Update command layout description
  docs/UserGuide.md
Labels: type.docs

#169 Add a section introducing fuzzy search
  docs/UserGuide.md
Labels: type.docs

#161 Add UG for HotKey
  docs/UserGuide.md
  docs/diagrams/uievent/EventHandling.puml
Labels: type.docs, priority.high

#166 Branch dg statistics
  src/main/java/mycelium/mycelium/ui/entitypanel/EntityPanel.java
  src/main/java/mycelium/mycelium/ui/entitypanel/EntityTab.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/SpecialProjectEntity.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsBox.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsPanel.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsTab.java
  src/main/resources/view/CommandBox.fxml
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/EntityPanel.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/SpecialProjectEntity.fxml
  src/main/resources/view/StatisticsBox.css
  src/main/resources/view/StatisticsBox.fxml
  src/main/resources/view/StatisticsTab.fxml
Labels: type.ui, priority.high

#178 Fix Javadocs to Statistics related classes
  src/main/java/mycelium/mycelium/ui/entitypanel/EntityList.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsBox.java
  src/main/java/mycelium/mycelium/ui/statisticsbox/StatisticsTab.java
Labels: type.docs

#176 Update UG for client crud
  docs/UserGuide.md
Labels: type.docs

#185 For updating identical fields in client
  src/main/java/mycelium/mycelium/logic/commands/UpdateClientCommand.java
  src/test/java/mycelium/mycelium/logic/commands/UpdateClientCommandTest.java
  src/test/java/mycelium/mycelium/logic/parser/UpdateClientCommandParserTest.java
Labels: priority.high

#179 Add tests for methods that Statistics use
  src/main/java/mycelium/mycelium/commons/util/DateUtil.java
  src/main/java/mycelium/mycelium/model/project/Project.java
  src/test/java/mycelium/mycelium/commons/util/DateUtilTest.java
  src/test/java/mycelium/mycelium/logic/LogicManagerTest.java
  src/test/java/mycelium/mycelium/model/ModelManagerTest.java
  src/test/java/mycelium/mycelium/model/project/ProjectTest.java
  src/test/java/mycelium/mycelium/testutil/ProjectUtil.java
Labels: type.task

#183 Add Glossary and update Command Summary
  docs/UserGuide.md
Labels: type.docs, priority.high

#190 Added note on scroll loop back
  docs/UserGuide.md
Labels: priority.med

#193 Add pics to demo search and select
  README.md
  docs/UserGuide.md
  docs/images/search-and-select/step1.png
  docs/images/search-and-select/step2.png
  docs/images/search-and-select/step3.png
  docs/index.md
Labels: type.docs, priority.low

#202 Use stricter date formatter
  src/main/java/mycelium/mycelium/model/project/Project.java
  src/test/java/mycelium/mycelium/logic/parser/AddProjectCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/ParserUtilTest.java
Labels: priority.high, type.Bug

#204 Refactor tests related to commands
  src/main/java/mycelium/mycelium/commons/core/Messages.java
  src/main/java/mycelium/mycelium/logic/commands/AddClientCommand.java
  src/main/java/mycelium/mycelium/logic/commands/AddProjectCommand.java
  src/main/java/mycelium/mycelium/logic/commands/UpdateClientCommand.java
  src/main/java/mycelium/mycelium/logic/commands/UpdateProjectCommand.java
  src/main/java/mycelium/mycelium/logic/parser/AddClientCommandParser.java
  src/main/java/mycelium/mycelium/logic/parser/AddProjectCommandParser.java
  src/main/java/mycelium/mycelium/logic/parser/DeleteProjectCommandParser.java
  src/main/java/mycelium/mycelium/logic/parser/ParserUtil.java
  src/main/java/mycelium/mycelium/logic/parser/UpdateClientCommandParser.java
  src/main/java/mycelium/mycelium/logic/parser/UpdateProjectCommandParser.java
  src/main/java/mycelium/mycelium/model/util/NonEmptyString.java
  src/test/java/mycelium/mycelium/logic/commands/AddClientCommandTest.java
  src/test/java/mycelium/mycelium/logic/commands/AddProjectCommandTest.java
  src/test/java/mycelium/mycelium/logic/commands/CommandTestUtil.java
  src/test/java/mycelium/mycelium/logic/commands/DeleteClientCommandTest.java
  src/test/java/mycelium/mycelium/logic/commands/DeleteProjectCommandTest.java
  src/test/java/mycelium/mycelium/logic/commands/UpdateClientCommandTest.java
  src/test/java/mycelium/mycelium/logic/commands/UpdateProjectCommandTest.java
  src/test/java/mycelium/mycelium/logic/parser/AddClientCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/AddProjectCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/DeleteClientCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/DeleteProjectCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/UpdateClientCommandParserTest.java
  src/test/java/mycelium/mycelium/logic/parser/UpdateProjectCommandParserTest.java
  src/test/java/mycelium/mycelium/testutil/ClientBuilder.java
  src/test/java/mycelium/mycelium/testutil/ProjectBuilder.java
Labels: priority.med

#201 Fix bug where Tab changes the focus away command box and ctrl+tab changes switches tab
  docs/DeveloperGuide.md
  docs/diagrams/uievent/EventHandling.puml
  docs/diagrams/uievent/GenericKey/GenericKey.puml
  docs/diagrams/uievent/templates/KeyHandling.puml
  docs/images/EventHandling.png
  docs/images/GenericKey.png
  docs/images/SwitchTabKey.png
  docs/images/UiEventManager.png
  src/main/java/mycelium/mycelium/logic/uievent/UiEventManager.java
  src/main/java/mycelium/mycelium/logic/uievent/key/TabKey.java
Labels: type.docs, priority.med, severity.High, type.Bug

#217 Update UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.docs
